@()

@main("TODO MVC") {
  <div id="todoList"></div>
  @*
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-typography--display-1 mdl-color-text--grey-600">
          Drink a coffee
        </span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">done</i>
        </button>
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-typography--display-1 mdl-color-text--grey-600">
          Get the mail
        </span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">done</i>
        </button>
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <span class="mdl-typography--display-1 mdl-color-text--grey-600">
          Pay the bills
        </span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">done</i>
        </button>
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-layout-spacer">
          <input class="mdl-textfield__input mdl-typography--display-1" type="text">
          <label class="mdl-textfield__label">Text...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">add</i>
        </button>
      </span>
    </li>
  </ul>
  *@
}
